*{
	font-family: Arial;
}

h1 a{
	text-decoration: none;
	color: black;
}

.sous-menu{
	clear: both;
}

#menu a{
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	border: 2px solid #999; 
	margin: 10px;
	padding: 10px;
	display: flex; /* contexte sur le parent */
	flex-direction: column; /* direction d'affichage verticale */
	justify-content: center; /* alignement vertical */
	color: black;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
}

table tr{
	padding: 0;
}

table tr th, table tr td{
	border: 1px solid black;
	margin: 0;
}

table tr th{
	padding: 10px;
}

table tr td{
	padding: 5px;
	text-align: right;
}


table.liste-ingredients{
	width: 100%;
}

table.liste-ingredients tr th, table.liste-ingredients tr td{
	border: none;
	padding: 0px 2px;
	text-align: right;
}

table.liste-ingredients tr th{
	text-align: left;
}

@media print {
  .no-print {
    display:none;
  }
}

.alert {
	display: block;
	width: 100%;
	padding: 1px;
}
.info {
	background: #a1e0c6;
}
.warning {
	background: #ecebc6;
}
.error {
	background: #e4aeae;
}






body.stocks {
	margin: 0;
}
.table-stocks {
	width: 100%;
	margin-top: 61px;
}

.table-stocks-thead {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    height: 52px;
    top: 0px;
    left: 0;
}
.table-stocks-thead tr th
{
	padding: 10px 1%;
	height: 37px;
}
.table-stocks-name {
	width : 30%;
	padding: 0;
}
.table-stocks-data {
	width : 15%;
}
.table-stocks tr td {
	padding: 1%;
}
.table-stocks tr td span {
	float: left;
	display: block;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
}

.table-stocks tr td .bt-stock
{
	cursor: pointer;
	background: #CCC;
	
}

form > div {
	margin-bottom: 40px;
}

form > div > div{
	clear: both;
}

form label, form input, form textarea {
    width: 160px;
    display: block;
    float: left;
	line-height: 20px;
    margin: 3px;
}

@media screen and (max-width: 767px){
}